/*///////////////////////// GENERALES /////////////////////////*/

body {
  font-family: 'Raleway',
    sans-serif;
}

h1 {
  font-size: 72px;
  line-height: 1;
  font-weight: 800;
}

h2 {
  font-size: 56px;
  line-height: 1;
  font-weight: 800;
}

h3 {
  font-size: 48px;
  line-height: 1;
  font-weight: 800;
}

img {
  width: 100%;
}

a:hover {
  text-decoration: none;
}

.blue {
  color: #1c235d
}

.light-blue {
  color: #6c6e83
}

.red {
  color: #bc4235
}

.paragraphs {
  font-size: 18px
}

.big-paragraphs {
  font-size: 26px;
}

.top-titles {
  font-size: 24px;
  font-family: 'Roboto Slab',
    serif;
}

.divider {
  background-image: linear-gradient(90deg, #1c235d 30%, #bc4235 30%, #bc4235 70%);
  width: 120px;
  height: 4px;
}

.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/*///////////////////// BOTONES QUE PISAN BS //////////////////*/

.btn {
  font-family: 'Raleway', sans-serif;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 700;
  align-items: center;
  justify-content: center;
  padding: 10px 25px;
  transition: all 150ms ease-out;
  text-decoration: none !important;
  display: flex;
  width: fit-content;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.btn::after {
  font-family: 'Material Icons';
  content: 'trending_flat';
  margin-left: 5px;
  margin-top: 1px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;

}

.btn-primary {
  border: 2px solid #fff;
  color: #1c235d;
  background-color: #fff;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
  background: #1c235d;
  color: #fff;
  border: 2px solid #1c235d;
  transition: all ease .25s;
}

/* .btn-outline-primary {
  border: 1px solid #2dbee6;
  color: #2dbee6;
  background-color: #fff;
}

.btn-outline-primary:hover,
.btn-outline-primary:focus,
.btn-outline-primary:active,
.btn-outline-primary:not(:disabled):not(.disabled).active,
.btn-outline-primary:not(:disabled):not(.disabled):active,
.show>.btn-outline-primary.dropdown-toggle {
  background: #2dbee6;
  color: #fff;
  border: 1px solid #2dbee6;
  transition: all ease .25s;
} */

.btn-secondary {
  border: 2px solid #bc4235;
  color: #bc4235;
  background-color: transparent;
}


.btn:hover::after {
  font-family: 'Material Icons';
  content: 'trending_flat';
  margin-left: 25px;
}

.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active,
.btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active,
.show>.btn-secondary.dropdown-toggle {
  background: #bc4235;
  color: #fff;
  border: 2px solid #bc4235;
  transition: all ease .25s;
}

/* 
.btn-outline-secondary {
  border: 2px solid #fff;
  color: #2e303d;
  background-color: #fff;
}

.btn-outline-secondary:hover,
.btn-outline-secondary:focus,
.btn-outline-secondary:active,
.btn-outline-secondary:not(:disabled):not(.disabled).active,
.btn-outline-secondary:not(:disabled):not(.disabled):active,
.show>.btn-outline-secondary.dropdown-toggle {
  background: #2e303d;
  color: #fff;
  border: 2px solid #2e303d;
  transition: all ease .25s;
} */

.shadow-lg {
  box-shadow: 0 .1rem 2rem rgba(0, 0, 0, .08) !important;
}

/*///////////////////////// HEADER /////////////////////////*/

.menu {
  -webkit-transition: background 0.3s 0s linear;
  -moz-transition: background 0.3s 0s linear;
  -o-transition: background 0.3s 0s linear;
  transition: background 0.3s 0s linear;
}

.header-logo {
  width: 90%;
}

.navbar {
  z-index: 5;
  width: 100%;
  padding: 0.8rem 1rem;
}

.nav-link {
  font-size: 16px;
  font-weight: 700;
  color: white !important;
  margin-right: 1rem !important;
  margin-left: 1rem !important;
  position: relative;
  transition: linear 0.2s !important;
  padding: 10px 0px !important;
}

.navbar .nav-item a:hover::after,
.navbar-light .navbar-nav .active>.nav-link::after {
  content: "";
  background-color: #bc4235;
  height: 3px;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: 0;
  z-index: -5;
  margin-bottom: 5px;
}

.nav-link-btn {
  border: 2px solid #fff;
  background-color: transparent;
  font-family: 'Raleway',
    sans-serif;
  border-radius: 8px;
  padding-right: 1rem !important;
  padding-left: 1rem !important;
}

.nav-link-btn:hover {
  border: 2px solid #bc4235;
  background-color: #bc4235;
  color: #fff;
  font-family: 'Raleway',
    sans-serif;
  border-radius: 8px;
  padding-right: 1rem !important;
  padding-left: 1rem !important;
}

.nav-link-btn:hover::after,
.navbar-light .navbar-nav .active>.nav-link-btn::after {
  content: none !important
}

.nav-shadow {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 8px 15px -5px,
    rgba(0, 0, 0, 0.25) 0px 4px 10px -8px;
}

.bsnav-sticky.bsnav-sticky-slide.sticked.in {
  background: #fff !important;
}

.bsnav-sticky.bsnav-sticky-slide.sticked.in .nav-link {
  color: #1c235d !important
}

.bsnav-sticky.bsnav-sticky-slide.sticked.in .navbar-nav .nav-item:last-child a {
  color: #bc4235 !important
}

.bsnav-sticky.bsnav-sticky-slide.sticked.in .navbar-nav .nav-item:last-child .nav-link-btn {
  border: 2px solid #bc4235;

}

.bsnav-sticky.bsnav-sticky-slide.sticked.in .navbar-nav .nav-item:last-child .nav-link-btn:hover {
  color: #fff !important;
}

.navbar-toggler.toggler-spring .navbar-toggler-icon::after {
  width: 75%;
  right: 0;
}

.navbar-toggler.toggler-spring.active .navbar-toggler-icon::after {
  width: 100%
}

.bsnav-sticky.bsnav-sticky-slide.navbar-toggler-icon,
.bsnav-sticky.bsnav-sticky-slide .navbar-toggler-icon::after,
.bsnav-sticky.bsnav-sticky-slide .navbar-toggler-icon::before {
  transition: .3s !important
}

.bsnav-sticky.bsnav-sticky-slide.sticked.in .navbar-toggler-icon,
.bsnav-sticky.bsnav-sticky-slide.sticked.in .navbar-toggler-icon::after,
.bsnav-sticky.bsnav-sticky-slide.sticked.in .navbar-toggler-icon::before {
  background-color: #1c235d !important;
  transition: .5s !important
}

.bsnav-sticky.bsnav-sticky-slide.sticked.in .navbar-toggler.toggler-spring.active .navbar-toggler-icon {
  background-color: #fff !important;
  transition: .3s !important;
}

/* Bs nav para el menú mobile */

.bsnav-mobile .navbar {
  left: 0 !important;
  color: #fff !important;
  transform: translate3d(-300px, 0, 0) !important;
}

.bsnav-mobile.in .navbar {
  transform: translate3d(0px, 0, 0) !important;
}

.bsnav-mobile .navbar.bsnav-dark {
  background: #12152f !important;
  color: #fff !important;
  padding: 0px 0 15px;
  box-shadow: 2px 2px 5px -2px rgba(0, 0, 0, 0.65);
  -webkit-box-shadow: 2px 2px 5px -2px rgba(0, 0, 0, 0.65);
  -moz-box-shadow: 2px 2px 5px -2px rgba(0, 0, 0, 0.65);
  border-left: 4px solid #bc4235;
}

.navbar-toggler {
  padding: initial;
}

.header-overlay {
  width: 100%;
      height: 100vh;
  position: absolute;
  top: 0;
  background: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.15) 30%, #000);
  background: linear-gradient(0deg, transparent 0, rgba(0, 0, 0, 0.15) 30%, #000);
  z-index: -1;
  opacity: .7;
}

/* MAIN */

.main-section {
  height: 100vh;
  overflow: hidden !important;
  position: relative;
  display: flex;
  align-items: center;
}
  .main-section .border-left {
    border-left: 1px solid white !important;
        padding-left: 25px !important;
  }
.main-video {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -5;
  height: 100%;
  object-fit: cover;
}

/* Animación que invita a scrollear */

.scrolling-container {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin-bottom: 50px;
}

.scrolling-container-icon {
  position: relative;
  width: 2.2rem;
  height: 4rem;
  box-shadow: inset 0 0 0 2px #fff;
  border-radius: 2.5rem;
  padding: 10px 0px
}

.scrolling-container-icon-circle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 2px solid #fff;
  margin: 0 auto;
}

.scrolling-container-icon:before {
  content: url('../images/arrow.svg');
  position: absolute;
  width: 100%;
  height: 2rem;
  top: 1.8rem;
  border-radius: .4rem;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-name: scroll;
}


@keyframes scroll {
  0% {
    opacity: 0
  }

  50% {
    opacity: 1;
    transform: translateY(1rem)
  }
}

/* Deco a la derecha */

.social-media {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.vertical-deco {
  width: 1px;
  height: 80%;
  background-color: #fff;
}

.social-media a {
  color: #fff;
  margin: 5px 0px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.social-media a:hover {
  transform: translateX(-10px)
}

/*///////////////////////// NOSOTROS //////////////////////////*/

.about-us {
  position: relative;
  padding: 140px 0px 100px 0px
}

.linear-titles {
  font-size: 160px;
  -webkit-text-stroke: 2px #eeeff8;
  color: transparent;
  font-family: 'Raleway',
    sans-serif;
  font-weight: 800;
  position: absolute;
  left: 0;
  right: 0;
  z-index: -5;
  transform: translateY(-60%);
}

.service-container {
  position: relative;
}

.service-title {
  position: absolute;
  color: #fff;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  line-height: 1;
}

.service-title::after {
  content: '';
  height: 55px;
  width: 1px;
  background-color: rgba(255, 255, 255, 0.705);
  position: absolute;
  transform: translateY(150%);
}

.service-title::before {
  content: '';
  height: 55px;
  width: 1px;
  background-color: rgba(255, 255, 255, 0.705);
  position: absolute;
  transform: translateY(-150%);
}

.service-image {
  transition: ease-in-out .3s
}

.service-container:hover .service-image {
  transform: scale(1.1)
}



/*///////////////////////// DESARROLLOS //////////////////////////*/

.builds {
  overflow: visible;
}

.builds-linear-title {
  transform: translateY(-68%);
}

.desarrollos-title {
  font-weight: 700;
  font-size: 18px;
  font-family: 'Roboto Slab',
    serif;
    transition: .3s
}

.desarrollos-title-container span {
  font-size: 12px
}

/* Swiper Gallery */

.swiper-container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1
}

.swiper-container-vertical>.swiper-wrapper {
  flex-direction: column
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box
}

.swiper-slide,
.swiper-wrapper {
  transform: translateZ(0)
}

.gallerySlider {
  position: relative;
  overflow: hidden
}

.gallerySlider__inner {
  display: flex;
  flex-wrap: wrap
}

.gallerySlider__swiper {
  overflow: visible;
  margin-left: -12px;
  margin-right: -12px
}

.gallerySlider__slider {
  position: relative;
  flex: 0 0 61%;
  max-width: 61%
}



.gallerySlider__slider:before {
  height: calc(100% + 9rem);
  background-color: #fff;
  top: 0
}

.gallerySlider__slider:after,
.gallerySlider__slider:before {
  content: "";
  position: absolute;
  width: 99999px;
  right: 100%;
  z-index: 2
}

.gallerySlider__slider:after {
  height: 40rem;
  bottom: -9rem;
  background: linear-gradient(180deg, rgba(191, 192, 192, 0), #bfc0c0);
  opacity: .15;
  pointer-events: none
}

.gallerySlider__slide {
  padding-left: 12px;
  padding-right: 12px;
}

.gallerySlider__slide:hover .desarrollos-title {
  color: #bc4235
}

.gallerySlider__slideDesc {
  text-align: right;
  padding-top: 1rem
}

.gallerySlider__slideImage {
  position: relative
}

.gallerySlider__slideImage:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 66.47887324%
}

.gallerySlider__slideImage img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover
}

.gallerySlider__nav {
  margin-top: 5px;
  display: flex;
  align-items: center
}

.gallerySlider__navButtons {
  flex: 0;
  display: flex;
  align-items: center;
  padding-right: 15px;
  margin-bottom: 5px;
}

.gallerySlider__navButtons button {
  background: none;
  border: 0;
  color: inherit;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  transition: .3s
}

.gallerySlider__navButtons button:hover {
  filter: hue-rotate(107deg) brightness(2) !important;
}

.gallerySlider__navProgress {
  height: 3px;
  position: relative;
  flex: 1;
  background-color: #eeeff8
}

.gallerySlider .swiper-pagination-progressbar-fill {
  background-color: #333f81
}

.gallerySlider__navButton {
  width: 25px;
  height: 25px;
  opacity: .5;
  transition: color .3s, opacity .3s;
  margin-right: 8px;
}

.gallerySlider__navButton--prev:before {
  content: url(../images/arrow-left.svg) !important;
}

.gallerySlider__navButton--next:before {
  content: url(../images/arrow-right.svg) !important
}

.gallerySlider__navButton:not(.swiper-button-disabled) {
  opacity: 1
}


/*///////////////////////// POR QUE ELEGIRNOS //////////////////////////*/

.icons-section {
  background-image: url(../images/banner.jpg);
  min-height: 490px;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: visible;
  background-attachment: fixed;
  background-position: center;
  margin-bottom: 150px;
}

.icons-container {
  background: #fff;
  width: 100%;
}

.translate-items-icons-section {
  transform: translateY(70%);
}

.icons-titles {
  font-size: 24px;
  font-weight: 800;
  line-height: 1;
}

.services-icons {
  width: 90px !important;
}

.icons-container>div>.col-lg-3:not(:last-child) {
  border-right: 1px solid #eeeff8;
}

/* Carousel para la vista mobile */

#owl-servicios .arrow-carousel {
  width: 45px;
  height: 45px;
  padding: 10px
}

#owl-servicios .owl-prev,
#owl-servicios .owl-next {
  border: 1px solid #d2d3df;
  border-radius: 50%;
  background: transparent;
  transition: .3s;
}

#owl-servicios .owl-prev:hover,
#owl-servicios .owl-next:hover {
  border: 1px solid #bc4235;
}

#owl-servicios .arrow-carousel-next:hover,
#owl-servicios .arrow-carousel-prev:hover {
  filter: hue-rotate(107deg) brightness(2) !important;
}

#owl-servicios .owl-nav {
  padding-bottom: 25px;
}

#owl-servicios .owl-nav {
  margin-top: 0px !important;
}


/*///////////////////////// CLIENTES //////////////////////////*/

.clients {
  padding: 175px 0px 0px 0px;
}

/* Testimonios*/

.red-bg {
  background-color: #bc4235
}

.blue-bg {
  background-color: #1c235d !important
}

.testimonial-text-container {
  padding: 20px;
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.testimonial-image-container img {
  height: 100%;
  object-fit: cover;
}

.testimonial-author {
  border-top: 1px solid #fff;
}

.testimonial-author p {
  font-size: 20px;
  font-weight: 700;
}

.testimonial-author span {
  font-size: 12px;
}

.quote-icon {
  width: 45px !important;
}

#owl-clientes .owl-nav.disabled+.owl-dots {
  margin-top: 25px;
}

#owl-clientes .owl-theme .owl-dots .owl-dot.active span,
#owl-clientes .owl-theme .owl-dots .owl-dot:hover span {
  background: #bc4235;
}

#owl-clientes .owl-theme .owl-dots .owl-dot span {
  background: #d2d3df;
}


/* Carousel de logos */

.logo-container {
  padding: 30px;
}

#owl-logos .owl-item {
  border-right: 1px solid #eeeff8;
}


/*///////////////////////// FOOTER //////////////////////////*/

footer {
  background-color: #12152f
}

.footer-logo {
  width: 150px !important;
}

footer ul li {
  list-style: none;
  margin: 8px 0px
}

footer ul li a {
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  transition: .3s
}

footer ul li a:hover {
  text-decoration: none;
  color: #bc4235
}

.contact-footer {
  display: flex;
  flex-direction: column;
}

.contact-footer h6 {
  font-family: 'Roboto Slab',
    serif;
}

.contact-footer .nav-link-btn {
  padding: 8px;
  color: #fff;
  width: fit-content;
  transition: .3s
}

.contact-footer .nav-link-btn:hover {
  text-decoration: none
}

.footer-email {
  font-size: 20px;
  font-weight: 700;
  text-decoration: underline;
  transition: .3s;
}

.copy-end {
  border-top: 1px solid rgba(255, 255, 255, 0.349);
}

.copy-end p {
  font-weight: 200 !important;
}


/*////////////////////// RESPONSIVE //////////////////*/

@media (max-width: 1024px) {

  .linear-titles {
    font-size: 120px;
  }

  .about-us {
    padding: 140px 0px 40px 0px;
  }

  .translate-items-icons-section {
    transform: translateY(50%);
  }

  .clients {
    padding: 120px 0px 0px 0px;
  }

  .testimonial-container {
    min-height: 420px;
  }

  .gallerySlider__slider {
    flex: 0 0 65%;
    max-width: 65%;
  }
}

@media (max-width: 768px) {
  .navbar-nav .nav-item:last-child {
    margin-top: 15px;
  }

  .builds-linear-title {
    transform: translateY(-50%);
  }

  .service-title {
    font-size: 26px;
  }

  .service-title::after,
  .service-title::before {
    height: 35px;
  }

  .about-us {
    padding: 140px 0px 0px 0px;
  }

  .icons-section {
    margin-bottom: 175px;
  }

  .translate-items-icons-section {
    transform: translateY(80%);
  }

  .no-translate {
    transform: translateY(30%);
  }

  .swiper-slide,
  .swiper-wrapper {
    transform: translateZ(0) translateX(-35px);
  }

  .gallerySlider__slider {
    flex: 0 0 100%;
    max-width: 100%;
  }

  /* .gallerySlider__slideDesc {
    padding-right: 15px;
  } */

  .testimonial-container {
    flex-direction: column-reverse;
  }

  .testimonial-text-container {
    width: 100%;
  }

  footer .paragraphs {
    font-size: 16px
  }

}

@media (max-width: 525px) {
  h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 46px;
  }

  h3 {
    font-size: 40px;
  }

  .big-paragraphs {
    font-size: 20px;
  }

    .main-section .border-left {
      margin-left: 20px !important;
          padding-left: 15px !important;
    }

  .social-media {
    display: none
  }

  .linear-titles {
    font-size: 90px;
    -webkit-text-stroke: 1px #eeeff8;
  }

  .builds-linear-title {
    font-size: 85px;
    transform: translateY(-60%) translateX(-5%);
    padding-top: 80px;
  }

  .builds {
    text-align: center;
    overflow-x: hidden;
  }

  .builds a {
    margin: 0 auto 25px auto
  }

  .builds .divider {
    margin: 0 auto
  }


  .icon-card-carousel {
    padding: 30px 35px !important
  }

  .service-container {
    margin: 15px
  }

  .services-icons {
    width: 120px !important;
    margin: 0 auto;
  }

  .no-translate {
    transform: translateY(40%);
  }

  .clients {
    padding: 125px 0px 0px 0px;
  }


  .logo-container {
    padding: 15px;
  }

  .logo-container {
    padding-top: 0px !important;
  }

  #owl-logos .owl-item {
    border-right: none;
  }


  .logo-container img {
    max-width: 220px;
    margin: 0 auto
  }

  footer .text-right {
    text-align: center !important;
    justify-content: center !important;
  }

  footer .nav-link-btn {
    margin: 15px auto 5px auto !important
  }

  .copyright {
    flex-wrap: wrap;
  }

  .copyright a {
    margin: 5px auto 0px auto;
  }
}

@media (max-width: 375px) {
  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 42px;
  }

  .linear-titles {
    font-size: 80px;
  }

  .builds-linear-title {
    font-size: 70px;
    transform: translateY(-70%) translateX(-2%);
    padding-top: 120px;
  }
}

@media (max-width: 320px) {
  .header-logo {
    max-width: 220px;
  }

  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 36px;
  }

  .linear-titles {
    font-size: 60px;
  }

  .builds-linear-title {
    font-size: 70px;
  }
}